[Unit]
Description=Todo API server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=opc
WorkingDirectory=/home/opc/todo
EnvironmentFile=/home/opc/todo/.env
ExecStart=/usr/bin/node /home/opc/todo/server/server.js
Restart=always
RestartSec=5
SyslogIdentifier=todo

[Install]
WantedBy=multi-user.target
